/**
    Global Colours
*/
$white: #FFFFFF;
$black: #000000;
$orange: orange;
$dodgerblue: dodgerblue;

/**
    Typography
*/
$regular: 'Yanone Regular', sans-serif;
$bold: 'Yanone Bold', sans-serif;
$light: 'Yanone Light', sans-serif;
$extra-light: 'Yanone Extra Light', sans-serif;

/**
    Grid
*/
$max-width: 1440px;