@font-face {
  font-family: 'Yanone Regular';
  src: url('./fonts/YanoneKaffeesatz-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Light';
  src: url('./fonts/YanoneKaffeesatz-Light.ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Extra Light';
  src: url('./fonts/YanoneKaffeesatz-ExtraLight.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Bold';
  src: url('./fonts/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}